#main2 {
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
}
